---
// A left-bordered callout / note block used throughout the docs.
---
<div class="my-3 rounded-md border border-border-bright border-l-[3px] border-l-accent bg-surface-2 px-3 py-2.5 text-sm leading-[1.65] text-text-dim">
  <slot />
</div>
