---
---
<section id="location">
  <h2>Where is your Hub located?</h2>
  <p>
    By default, your knowledge hub is stored in a folder called <code>chain-hub</code> in your home directory.
    This makes it easy to find and back up your AI instructions.
  </p>
  <p>
    If you're an advanced user, you can also set a custom location using the <code>CHAIN_HOME</code> setting.
  </p>
</section>
